<div class="row">
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="reportForm" #f="ngForm" (ngSubmit)="handleSubmit(f)" class="text-center border border-light p-5">
      <p class="h4 mb-4">File Report</p>
      <input type="text" id="title" class="form-control mb-4" formControlName="title" placeholder="Title">
      <input type="text" id="location" class="form-control mb-4" formControlName="location" placeholder="Location">
      <textarea type="text" id="description" class="form-control mb-4" formControlName="description"
        placeholder="Details">Details</textarea>

      <button class="mt-4" mdbBtn color="info" block="true" class="mt-5" type="submit">Submit</button>
    </form>
  </div>
</div>