<div class="row">
  <div class="col-md-12">
    <h2>Reports</h2>
    <mdb-card *ngFor="let report of reports" class="mb-3">
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>{{report.title}}</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          <div>
            <strong>Location:</strong> {{report.location}}
          </div>
          <div>
            <strong>Details:</strong> {{report.decription}}
          </div>
        </mdb-card-text>

      </mdb-card-body>
    </mdb-card>
  </div>
</div>