<div class="row">
  <div class="col-md-12">
    <h2>Reports</h2>
    <mdb-card>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Card Title</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          <div>
            <strong>Location:</strong> Some quick example text to build on the card title and make up the bulk of the
            card's
            content.
          </div>
          <div>
            <strong>Details:</strong> Some quick example text to build on the card title and make up the bulk of the
            card's
            content.
          </div>
        </mdb-card-text>

      </mdb-card-body>
    </mdb-card>
  </div>
</div>